@font-face {
  font-family: 'Simbal';
    src: url('fonts/simbal-regular.ttf') format('truetype'),
        url('fonts/simbal-regular.woff2') format('woff2'),
        url('fonts/simbal-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Caveat';
    src: url('fonts/caveat/Caveat-Bold.ttf') format('truetype'),
        url('fonts/caveat/Caveat-Bold.woff2') format('woff2'),
        url('fonts/caveat/Caveat-Bold.woff') format('woff'),
        url('fonts/caveat/Caveat-Bold.otf') format('otf');
  font-style: normal;
}
