@font-face {
  font-family: 'Plovdiv Sans';
    src: url('fonts/PlovdivSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Verveine';
    src: url('fonts/Verveine/Verveine-Regular.eot');
    src: url('fonts/Verveine/Verveine-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Verveine/Verveine-Regular.woff2') format('woff2'),
        url('fonts/Verveine/Verveine-Regular.woff') format('woff'),
        url('fonts/Verveine/Verveine-Regular.ttf') format('truetype'),
        url('fonts/Verveine/Verveine-Regular.svg#Verveine-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
