.footer-hashtag {
    margin-bottom: 10px;
    font-family: 'Simbal', sans-serif;
    font-size: 1.5rem;
    color: $text-color-1;

    p {
        margin-bottom: 5px;
    }
}

footer {
    position: relative;
    padding: 30px 0;
    font-size: 0.8rem;
    background-color: $main-color-1;
    font-family: 'Simbal', sans-serif;
    font-size: 1.15rem;
    color: $text-color-1;
    text-transform: uppercase;

    @include media-breakpoint-down(sm) {
        padding-bottom: 120px;
    }

    @include media-breakpoint-up(md) {
        padding: 5rem 15px;
    }

    p {
        margin-bottom: 5px;
    }

    i {
        color: $text-color-1;
        font-size: 35px;
    }

    .social-links + .social-links {
        margin-left: 10px;
    }

    a {
        color: $text-color-1;

        &:hover {
            text-decoration: none;

            &, i {
                color: darken($text-color-1, 10%);
            }
        }

        &.email-link {
            text-decoration: underline;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .copyright__box {
        flex: 0 1 100%;
        margin-top: 1rem;

        p {
            margin-bottom: 0;
        }

        @include media-breakpoint-up(md) {
            margin-top: 0;
        }
    }

    .footer-logo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

        .organisers {
            margin-bottom: 2rem;

            @include media-breakpoint-up(md) {
                flex: 0 1 100%;
            }

            img {
                margin-top: 0;
            }
        }

        img {
            width: 6.25rem;

            @include media-breakpoint-up(md) {
                margin-top: -1.875rem;
            }
        }
    }
}
