// Main color palette
$plain-color: #fff;
$border-color: #ddd;
$main-color-1: #FFE971;
$main-color-2: #4FC186;
$main-color-3: #C81F4A;
$text-color-1: #2C7151;
$accent-color-1: #345F6F;
$accent-color-2: #6D336E;

// Describe the specific google fonts properties
$theme-font-family: 'Plovdiv Sans', sans-serif !default;
$theme-font-weights: '400' !default;
$theme-font-languages: null !default;
